*.class

# Package Files #
*.jar
*.war
*.ear

Derelict2D/.settings/org.eclipse.core.resources.prefs

Derelict2D/.settings/org.eclipse.core.resources.prefs

Derelict2D/.settings/org.eclipse.core.resources.prefs

Derelict1D/.classpath

Derelict1D/.project

derelict-core-java/.project

derelict-core-java/.classpath

derelict-core-java/target/maven-archiver/pom.properties
/Derelict2D-desktop/target/