*.class

# Package Files #
*.jar
*.war
*.ear

Derelict2D/.settings/org.eclipse.core.resources.prefs

Derelict2D/.settings/org.eclipse.core.resources.prefs

Derelict2D/.settings/org.eclipse.core.resources.prefs
