<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.odb.derelict2d"
    android:versionCode="5"
    android:installLocation="auto"
    android:versionName="1.2" >

    <uses-feature android:name="android.hardware.touchscreen"
        android:required="true" />

    <application
        android:name=".Derelict2DApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ExploreStationActivity"
            android:label="@string/title_activity_explore_station"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManageInventoryActivity"
            android:label="@string/title_activity_manage_inventory"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ShowGameSplashActivity"
            android:label="@string/title_activity_show_game_splash"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowOutcomeActivity"
            android:label="@string/title_activity_show_outcome"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ShowHowToPlayActivity"
            android:label="@string/title_activity_show_how_to_play" >
        </activity>
        <activity
            android:name=".ShowCreditsActivity"
            android:label="@string/title_activity_show_credits" >
        </activity>
    </application>

</manifest>
